<div class="row">
    <div class="col-sm-4 col-sm-offset-4">
        <h2>
            <p class="text-danger text-center">  {{ error_message }}  </p>
        </h2>

        <h2 class="text-center"> Login form </h2>

        <form [formGroup]="login_form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="login">Login</label>
                <input type="text" id="login" class="form-control" autofocus formControlName="login"/>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password"/>
            </div>

            <div class="form-group">
                <a routerLink="/accounts/register"> Register </a>                
                <button class="btn btn-primary pull-right" type="submit" [disabled]="login_form.invalid"> Login </button>
            </div>
        </form>
    </div>
</div>